:host {
  margin-bottom: 20px;
}

.bar {
  display: flex;
  flex-direction: row-reverse;
  height: 10px;
  width: 100%;
  background-color: #d6d6e1;

  .round {
    align-self: center;
    margin-right: 2px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    &:hover {
      cursor: pointer;
    }

    &.close {
      background-color: #e8483a;
    }

    &.expand {
      background-color: #72be46;
    }

    &.minimize {
      background-color: #e0c04c;
    }
  }
}

.content-wrapper {
  overflow: scroll;
  margin-top: 20px;
  padding: 0 10px;
}
